<a href="https://colab.research.google.com/github/VanessaGellert/analise_planilhas/blob/main/Penha_Ago_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gspread

In [61]:
from google.colab import auth

In [62]:
auth.authenticate_user()

In [63]:
import gspread

In [64]:
from oauth2client.client import GoogleCredentials

In [65]:
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [66]:
spreadsheet_Penha = gc.open('teste_colab')

In [67]:
worksheet_Penha = spreadsheet_Penha.sheet1

In [68]:
import pandas as pd

In [69]:
df_Penha = pd.DataFrame(worksheet_Penha.get_all_records())

In [70]:
page = spreadsheet_Penha.sheet1

In [71]:
page.row_values(1)

['DATA ENTRADA',
 'TICKET',
 'ALUNO',
 'TAG',
 'ASSUNTO',
 'STATUS',
 'DATA SAÍDA',
 'TEMPO EM DIAS']

In [72]:
import pandas as pd

In [73]:
Penha = pd.DataFrame(page.get_all_records())

In [74]:
Penha.dtypes

DATA ENTRADA     object
TICKET            int64
ALUNO            object
TAG              object
ASSUNTO          object
STATUS           object
DATA SAÍDA       object
TEMPO EM DIAS    object
dtype: object

In [75]:
Penha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATA ENTRADA   107 non-null    object
 1   TICKET         107 non-null    int64
 2   ALUNO          107 non-null    object
 3   TAG            107 non-null    object
 4   ASSUNTO        107 non-null    object
 5   STATUS         107 non-null    object
 6   DATA SAÍDA     107 non-null    object
 7   TEMPO EM DIAS  107 non-null    object
dtypes: int64(1), object(7)
memory usage: 6.8+ KB

In [76]:
Penha.groupby(by='STATUS').size()

STATUS
Aberto        8
Em Espera     2
Pendente      6
Resolvido    91
dtype: int64

In [77]:
Penha.groupby(by='TAG').size()

TAG
_atraso_live de aula                        1
_ausencia_aluno                             2
_ausencia_aluno\n                          10
_bilhete unico estudante                   10
_cancelamento_documentação_tranferencia    11
_canvas_envio de fichamento                 2
_carregador_troca                           1
_chrome                                     1
_chromebook_troca                           1
_contato direção                           27
_entrada_e_saida                            6
_histórico escolar                         12
_livro_paradidatico                         1
_notificacao_refeicao                       1
_notificação_refeição                       1
_pedagogico_atividade avaliativa            1
_pedagogico_provas                          2
_plurall_acesso                             1
_portal_boletim                             2
_portal_kanban                              1
_prova_substitutiva                         1
_relatorio de faltas                        1
_retorno de chamada                         1
_retorno_presencial                         3
_transporte escolar                         1
cancelamento_pedagogico_reversao            2
canvas_roteiro de estudos                   2
suporte_envio de documentação               1
suporte_tecnologia_chromebook_troca         1
dtype: int64

In [78]:
Penha.groupby(by='TEMPO EM DIAS').size()

TEMPO EM DIAS
0      14
1      35
2      20
3       5
4       4
5       3
7       2
10      2
15      1
21      1
25      1
30      1
87      1
157     1
       16
dtype: int64